
table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
    margin: 1rem 0rem;
}

#bill {
    display: block;
    padding: 0.5rem;
    width: 200px;
}

#cash {
    display: block;
    padding: 0.5rem;
}